{% extends 'product/base.html' %}

{% load static %}

{% block content %}
  <header class="masthead">
    <div class="container h-100">
      <p>{{ created }}</p>
      <div class="row h-100 align-items-center justify-content-center text-center">
        <form action="{% url 'connect_user' %}" method="post">
  		  <p>Connectez vous</p>
    	  {% csrf_token %}
    	  <input type="text" size="30" placeholder="Pseudo" class="form-control" name="login_username">
    	  <input type="password" size="30" placeholder="Mot de passe" class="form-control" name="login_password">
    	  <input type="submit" name="login" value="Connexion" />
  	 	</form>
  	 	<p>{{ error }}</p>
  		<form action="{% url 'create_user' %}" method="post">
  		  <p>... Ou créez un compte</p>
    	  {% csrf_token %}
    	  <input type="text" size="30" placeholder="Pseudo" class="form-control" name="create_username">
    	  <input type="email" size="30" placeholder="Email" class="form-control" name="create_email">
    	  <input type="password" size="30" placeholder="Mot de passe" class="form-control" name="create_password">
    	  <input type="submit" name="create" value="Créer" />
  		</form>
      </div>
    </div>
  </header>
{% endblock %}