{% extends 'product/base.html' %}

{% load static %}

{% block content %}
  {% if picture is False %}
    <header class="account colored">
  {% else %}
    <header class="user_picture picture"> 
      <style> header.user_picture {
        background: -webkit-gradient(linear, left top, left bottom, from(rgba(92, 77, 66, 0.8)), to(rgba(92, 77, 66, 0.8))), url("{{ picture }}");
        background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url("{{ picture }}");
        }
      </style>
  {% endif %}
    <div class="container h-100">
      <div class="row h-100 align-items-center justify-content-center text-center">
        <div class="col-lg-10 align-self-end"></div>
        <div class="col-lg-10 align-self-baseline">
          <h1 class="text-uppercase text-white font-weight-bold">Ahoy! Bienvenue {{ user_name }}!</h1>
          <h2 class="text-uppercase font-weight-bold" style="color:red;">{{ change }}</h2>
        </div>
      </div>
    </div>
  </header>

    <div class="container-fluid p-0">
      <div class="row align-items-center justify-content-center text-center py-5 my-5">
        <div class="col-lg-9 align-self-baseline ">
          <p class="custom">Votre email est: {{ user_email }}</p>
          <hr class="divider my-4">
        </div>
        <div class="col-lg-4">
          <form action="{% url 'change_username' %}" method="post">
            <p class="custom">Changez votre pseudo:</p>
            {% csrf_token %}
            <input type="text" size="30" placeholder="Nouveau pseudo" class="form-control" name="change_username">
            <input type="password" size="30" placeholder="Tapez votre mot de passe" class="form-control mt-2" name="password">
            <input type="submit" name="validate_change" value="Changer" class="btn btn-info mt-2"/>
          </form>
          <hr class="divider my-4">
          <form action="{% url 'change_password' %}" method="post">
            <p class="custom">Changez mot de passe:</p>
            {% csrf_token %}
            <input type="password" size="30" placeholder="Nouveau mot de passe" class="form-control" name="change_password">
            <input type="password" size="30" placeholder="Retapez votre nouveau mot de passe" class="form-control mt-2" name="new_password">
            <input type="password" size="30" placeholder="Tapez votre ancien mot de passe" class="form-control mt-2" name="old_password">
            <input type="submit" name="validate_change" value="Changer" class="btn btn-info mt-2"/>
          </form>
          <hr class="divider my-4">
          <form action="{% url 'change_email' %}" method="post">
            <p class="custom">Changez votre email:</p>
            {% csrf_token %}
            <input type="email" size="30" placeholder="Nouvel email" class="form-control mt-2" name="change_email">
            <input type="password" size="30" placeholder="Tapez votre mot de passe" class="form-control mt-2" name="password">
            <input type="submit" name="validate_change" value="Changer" class="btn btn-info mt-2"/>
          </form>
          <hr class="divider my-4">
          <form action="{% url 'change_picture' %}" method="post">
            <p class="custom">Changez votre image de profile (preferez un image qui a pour dimensions 1920x1080):</p>
            {% csrf_token %}
            <input type="text" size="30" placeholder="Url de l'image" class="form-control" name="picture_url">
            <input type="submit" name="validate_change" value="Changer" class="btn btn-info mt-2"/>
          </form>
        </div>
      </div>
    </div>
{% endblock %}